h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-body {
    width: clamp(300px, 80%, 800px);
    padding: 10px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 3px black solid;
    font-family: Arial, Helvetica, sans-serif;
}

.demo-body {
    font-size: 20px;
    padding-bottom: 15px;
}

.demo-text {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.riddle-table {
    width: 100%;
    border: none;
    border-radius: 10px;
    table-layout: fixed;
}

.demo-table {
    margin: 10px 20px 10px 20px;
    width: 60%;
}

.riddle-cell {
    padding: 0;
    height: 50px;
    background-color: black;
    text-align: center;
    font-size: 90%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 3px;
}

.title-cell {
    color: white;
}

.root-cell {
    background-color: rgb(120, 200, 30);
}

.hint-cell {
    background-color:lavender;
}

.guess-cell {
    background-color: white;
}

.center-cell {
    outline: 3px rgb(23, 90, 200) solid;
}

.extra-hint-cell {
    background-color: rgb(23, 90, 200);
    color: white;
    font-weight: bold;
    padding-left: 0%;
}

@keyframes correct-guess {
    from {background-color: white;}
    to {background-color: rgb(120, 200, 30);}
}

@keyframes false-guess {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.guess-input {
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 100%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 3px;
}

.guess-input.correct {
    animation-name: correct-guess;
    animation-duration: 1s;
    background-color: rgb(120, 200, 30);
}

.guess-input.false {
    animation-name: false-guess;
    animation-duration: 0.5s;
    background-color: red;
}

.guess-input:disabled {
    color: black;
    font-weight: bolder;
}

.guess-input:hover {
    background-color: bisque;
}

/* The Modal (background) */
.modal {
    font-family: Arial, Helvetica, sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 25% auto; /* 15% from the top and centered */
    text-align: center;
    font-size: 30px;
    padding: 30px;
    border: 2px solid #888;
    border-radius: 10px;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 3px black solid;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#copy-button {
    font-size: 30px;
}

@keyframes fade-in {
    from {color: white;}
    to {color: rgb(0, 0, 0);}
}

.fade-me-in {
    animation: fade-in 0.5s;
    color: rgb(0, 0, 0);
}

.ui-button {
    border: 3px black dashed;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

.ui-right-button {
    float: right;
}

.ui-button:hover {
    background-color: bisque;
}

.ui-title {
    font-weight: bold;
}

.fill-space {
    width: 100px;
}